{% extends '::base.html.twig' %}

{% block subtitle %}
Kontakt
{% endblock %}

{% block content %}
<form class="generator contact" action="{{ path('contact_post') }}" method="POST" {{ form_enctype(form) }}>
    <fieldset>
        <ul>
            <li>{{ form_label(form.name, 'Imię:') }}{{ form_widget(form.name) }}<div class="errors">{{ form_errors(form.name) }}</div></li>
            <li>{{ form_label(form.email, 'E-mail:') }}{{ form_widget(form.email) }}<div class="errors">{{ form_errors(form.email) }}</div></li>
            <li>{{ form_label(form.text, 'Treść:') }}{{ form_widget(form.text, { 'attr': { 'rows': '10', 'cols': '50' }}) }}<div class="errors">{{ form_errors(form.text) }}</div></li>
            <li><input type="submit" name="submit" value="Wyślij" /></li>
        </ul>
    </fieldset>
    {{ form_rest(form) }}
</form>
{% if valid is defined and valid == true %}
    <div class="contact-message-sent">Wysłano wiadomość. Dziękujemy!</div>
{% endif %}
{% endblock %}

{% block javascripts %}
{% endblock %}