{% extends '::base.html.twig' %}

{% block subtitle %}
Strona główna
{% endblock %}

{% block content %}
<div class="button-container">
						<div class="button-box">
							<a class="dictionary" href="{{ path('dictionary_index') }}"><span>Słownik</span></a>
							<a class="dictionary hover" id="dictionary-hover" href="{{ path('dictionary_index') }}"><span>Słownik</span></a>
						</div>
						<div class="button-box">
							<a class="tests" href="{{ path('tests_index') }}"><span>Testy</span></a>
							<a class="tests hover" id="tests-hover" href="{{ path('tests_index') }}"><span>Testy</span></a>
						</div>
						<div class="button-box last">
							<a class="contact" href="{{ path('contact_index') }}"><span>Kontakt</span></a>
							<a class="contact hover" id="contact-hover" href="{{ path('contact_index') }}"><span>Kontakt</span></a>
						</div>
						<div class="clear">
						</div>
					</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
var fadeSpeed = 300;
			
			//dictionary hover
			$("div.content div.button-container div.button-box a.dictionary").mouseenter(function() {
				$("div.content div.button-container div.button-box a#dictionary-hover").fadeIn(fadeSpeed);
			});
			$("div.content div.button-container div.button-box a#dictionary-hover").mouseleave(function() {
				$("div.content div.button-container div.button-box a#dictionary-hover").fadeOut(fadeSpeed);
			});
			
			//tests hover
			$("div.content div.button-container div.button-box a.tests").mouseenter(function() {
				$("div.content div.button-container div.button-box a#tests-hover").fadeIn(fadeSpeed);
			});
			$("div.content div.button-container div.button-box a#tests-hover").mouseleave(function() {
				$("div.content div.button-container div.button-box a#tests-hover").fadeOut(fadeSpeed);
			});
			
			//contact hover
			$("div.content div.button-container div.button-box a.contact").mouseenter(function() {
				$("div.content div.button-container div.button-box a#contact-hover").fadeIn(fadeSpeed);
			});
			$("div.content div.button-container div.button-box a#contact-hover").mouseleave(function() {
				$("div.content div.button-container div.button-box a#contact-hover").fadeOut(fadeSpeed);
			});
</script>
{% endblock %}