<!DOCTYPE html>
<html>
    <head>
    	{% include ':Partial:head.html.twig' %}
        <title>Niemieckie.net - {% block subtitle %}Welcome!{% endblock %}</title>
    </head>
    <body>
                <div class="canvas">
			<div class="container">
				<div class="logo">
					<a href="{{ path('home_index') }}"><span>Niemieckie.net</span></a>
				</div>
                                <hr id="top-hr" />
				<div class="clear">
				</div>
				<div class="content">
					{% block content %}{% endblock %}
				</div>
			</div>
		</div>
		<footer>
			<ul>
				<li><a href="{{ path('dictionary_index') }}">Słownik</a></li>&nbsp;|&nbsp;<li><a href="{{ path('tests_index') }}">Testy</a></li>&nbsp;|&nbsp;<li><a href="{{ path('contact_index') }}">Kontakt</a></li>
			</ul>
			<br />
			{% include ':Partial:footer.html.twig' %}
		</footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>