<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}" />
<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>