body
{
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 12px;
	color: #202020;
	line-height: 1.25em;
	background-color: #e8e8e8;
}

a, a:active, a:visited
{
	color: inherit;
	font: inherit;
	text-decoration: inherit;
}

ul, ol, dl, li, table, tr, td, th, h1, h2, img, fieldset, hr
{
	margin: 0;
	padding: 0;
	border: 0;
}

ol.numeric li
{
	list-style-type: decimal;
}

input, textarea
{
	outline: none;
}

input, select
{
	vertical-align: top;
}

textarea
{
	border: 1px #a0a0a0 solid;
}

input[type=text]
{
	color: inherit;
	border: 1px #a0a0a0 solid;
}

input[type=submit]
{
	height: 1.6em;
	padding: 1px;
	border: 1px #a0a0a0 solid;
	background-color: #f0f0f0;
	color: #505050;
}

button[type=button]
{
    background-color: #f0f0f0;
    border: 1px #c0c0c0 solid;
    cursor: pointer;
}

li
{
	list-style-type: none;
}

.invisible
{
	display: none;
}

span.clickable
{
	color: #707070;
}

span.clickable:hover
{
	text-decoration: underline;
	cursor: pointer;
}

span.green
{
	color: #00bb00;
}

span.red
{
	color: #ee0000;
}

div.clear
{
	clear: both;
}

div.canvas
{
	background-color: #ffffff;
}

div.container
{
	width: 1000px;
	margin: 0 auto;
	padding-top: 20px;
}

div.logo
{
	width: 240px;
	height: 66px;
	background: url('../images/logo.png') no-repeat;
}

div.logo a
{
	width: 240px;
	height: 66px;
	display: block;
}

div.logo a span
{
	display: none;
}

hr#top-hr
{
    border-top: 1px #e4e4e4 solid;
}

div.content
{
	margin-top: 30px;
	padding-bottom: 76px;
}

form.generator label
{
	width: 6em;
	padding-top: 0.3em;
        float: left;
}

input[type=text].integer-input
{
	width: 2em;
}

form.generator input[type=submit]
{
	width: 5em;
}

form.generator button[type=button]
{
    margin-left: 0.5em;
}

form ul li
{
    margin: 0 0.5em 0.5em 0;
}

/*************************************
*************INDEX****************
*************************************/

div.button-container
{
    width: 767px;
    margin: 0 auto;
    margin-top: 76px;
}

div.button-container div.button-box
{
    width: 187px;
    height: 187px;
    margin-right: 100px;
    border: 1px #999999 solid;
    float: left;
}

div.button-container div.last
{
    margin-right: 0;
}

div.button-container div.button-box a
{
    width: 185px;
    height: 185px;
    margin: 1px 0 0 1px;
    background-color: #0062b0;
    display: block;
    position: absolute;
}

div.button-container div.button-box a.hover
{
    background-color: #0f78cc;
    display: none;
}

div.button-container div.button-box a.dictionary
{
    background-image: url('../images/a-dictionary-background.png');
    background-repeat: no-repeat;
    background-position: 56px 80px;
}

div.button-container div.button-box a.tests
{
    background-image: url('../images/a-tests-background.png');
    background-repeat: no-repeat;
    background-position: 68px 80px;
}

div.button-container div.button-box a.contact
{
    background-image: url('../images/a-contact-background.png');
    background-repeat: no-repeat;
    background-position: 56px 80px;
}

div.button-container div.button-box a span
{
	display: none;
}

/***********************************
***********DICTIONARY***********
***********************************/

div#definitions-container div.column
{
    margin-right: 2%;
    float: left;
}

div#definitions-container h3
{
    margin: 3em 0 0 0;
    color: #ff9900;
    font-size: 1em;
    font-weight: bold;
    clear: left;
    float: left;
}

div#definitions-container h3.first
{
    margin-top: 0;
}

div#definitions-container dl dt
{
    width: 49%;
    padding: 0.25em 0 0.25em 0.25em;
    margin-right: -49%;
    padding-right: 49%;
    float: left;
    clear: left;
}

div#definitions-container dl dt:nth-of-type(even), div#definitions-container dl dd:nth-of-type(even)
{
    background-color: #f0f0f0;
}

div#definitions-container dl dd
{
    width: 49%;
    margin: 0;
    padding: 0.25em 0 0.25em 0;
    margin-left: -50%;
    padding-left: 50%;
    float: left;
}

div#definitions-container dl span
{
    position: relative;
    z-index: 10;
}

/**********************************
************TESTS**************
**********************************/

#span-tips-hide
{
	display: none;
}

dl#dl-tips
{
	margin-top: 10px;
	display: none;
}

dl#dl-tips:before, dl#dl-tips:after
{
	0;
}

dl#dl-tips dt
{
	color: #ff9900;
	font-weight: bold;
}

dl#dl-tips dd
{
	margin: 0 0 14px 40px;
}

dl#dl-tips ol
{
	margin-top: 6px;
}

dl#dl-tips ol li
{
	list-style-type: decimal;
	list-style-position: inside;
	font-weight: bold;
}

dl#dl-tips ol li span.normal
{
	font-weight: normal;
}

dl#dl-tips ol li em
{
	font-weight: bold;
}

img.button-small
{
    vertical-align: middle;
    cursor: pointer;
}

div#diacritics-picker
{
    padding: 3px;
	color: #c70;
	cursor: pointer;
	position: absolute;
    display: none;
	border: 1px #ff9900 solid;
    background-color: #ffffff;
    opacity: 0.9;
}

div#diacritics-picker div.diacritics-background
{
    width: 100%;
    height: 100%;
}

form.generate-test
{
	margin-bottom: 26px;
}

form.test
{
	font-size: 1.2em;
	line-height: 1.5em;
	margin-bottom: 8px;
}

form.test label
{
	font-weight: bold;
	color: #ff9900;
}

form.test input[type=text]
{
	width: 15em;
	height: 1.4em;
	margin-bottom: 1em;
	border: 1px #d0d0d0 solid;
	color: #888888;
}

form.test input[type=text].input-correct, form.test input[type=text].input-correct:hover, form.test input[type=text].input-correct:focus
{
    color: #00bb00;
}

form.test input[type=text].input-incorrect, form.test input[type=text].input-incorrect:hover, form.test input[type=text].input-incorrect:focus
{
    color: #ee0000;
}

form.test input[type=text]:hover
{
	border-color: #b8b8b8;
	color: #686868;
}

form.test input[type=text]:focus
{
	border-color: #808080;
	color: #303030;
}

form.test input[type=text].plural
{
	width: 2em;
}

form.test div.options
{
	padding: 3px;
	display: none;
	border: 1px #d8d8d8 solid;
	color: #909090;
	font-size: 0.8em;
	position: relative;
	left: -10px;
}

dl.text-result
{
    font-size: 1.1em;
}

dl.test-result dt
{
    width: 160px;
    margin: 0 -160px 0.7em 0;
	padding-right: 180px;
    float: left;
    clear: left;
    text-align: left;
    font-weight: bold;
}

dl.test-result dd
{
    margin: 0 1em 0.7em -160px;
	padding-left: 160px;
	float: left;
}

.answer-correct
{
    color: #009900;
}

.answer-incorrect
{
    color: #ff0000;
}

.score
{
    margin-top: 20px;
    color: #ee8800;
    font-size: 1.3em;
    display: inline-block;
	clear: left;
	float: left;
}

/***********************************
************CONTACT*************
***********************************/

form.contact label
{
	width: 5em;
    margin-right: 1em;
	padding-top: 0.3em;
    text-align: right;
    float: left;
}

form.contact textarea
{
    font: inherit;
    resize: none;
}

form.contact input[type=submit]
{
    margin-left: 5.5em;
}

form.contact div.errors
{
    margin-left: 0.5em;
    color: #ee0000;
    display: inline-block;
}

form.contact div.errors ul li
{
    display: none;
}

form.contact div.errors ul li:nth-of-type(1)
{
    display: block;
}

form.contact div.errors ul li:before
{
    content: "<- ";
}

div.contact-message-sent
{
    margin: 1em 0 0 5.5em;
    color: #ff9900;
}

/***********************************
**************ADMIN*************
***********************************/

div.message-box
{
	margin-bottom: 2em;
}

form.admin-add label
{
    width: 200px;
    text-align: left;
    display: inline-block;
}

form.admin-add input#page-number
{
	width: 3em;
}

form.admin-add input#plural
{
	width: 4em;
}

img#ajax-loader
{
	display: none;
}

/*************************************
**************FOOTER******************
*************************************/

footer
{
	width: 100%;
	min-height: 194px;
	padding-top: 6px;
	border-top: 1px #c4c4c4 solid;
	color: #848484;
	text-align: center;
	line-height: 1.5em;
}

footer ul li
{
	display: inline;
}

footer ul li a, footer ul li a:active, footer ul li a:visited
{
	color: #707070;
	font-size: 1.1em;
}

footer ul li a:hover
{
	color: #808080;
	text-decoration: underline;
}