{% extends '::base.html.twig' %}

{% block subtitle %}
Słownik
{% endblock %}

{% block content %}
<form class="generator" action="#">
    <fieldset>
        <ul>
            <li>{{ form_label(showPagesForm.pageFrom, 'Strony:') }}{{ form_widget(showPagesForm.pageFrom, { 'value': '8', 'attr': { 'class': 'integer-input' } }) }} - {{ form_widget(showPagesForm.pageTo, { 'value': '8', 'attr': { 'class': 'integer-input' } }) }}<button id="show-pages-button" type="button">Pokaż</button></li>
            <li>{{ form_label(showUnitsForm.unitFrom, 'Rozdziały:') }}{{ form_widget(showUnitsForm.unitFrom, { 'value': '1', 'attr': { 'class': 'integer-input' } }) }} - {{ form_widget(showUnitsForm.unitTo, { 'value': '1', 'attr': { 'class': 'integer-input' } }) }}<button id="show-units-button" type="button">Pokaż</button></li>
        </ul>
    </fieldset>
    {{ form_rest(showPagesForm) }}
    {{ form_rest(showUnitsForm) }}
</form>

<div id="definitions-container" style="margin-top: 20px;">		
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
		$("form #show-pages-button").click(function() {
			$("div#definitions-container").html('<img src="{{ asset('images/ajax-loader-48.gif') }}" alt="please wait..." />');
			$.ajax({
				type: "POST",
				url: "{{ path('dictionary_show_pages') }}",
				data: { pageFrom: $("form #showPages_pageFrom").val(),
					pageTo: $("form #showPages_pageTo").val()
					}
			}).done(function(response) {
				$("div#definitions-container").html(response);
			});
		});
		
		$("form #show-units-button").click(function() {
			$("div#definitions-container").html('<img src="{{ asset('images/ajax-loader-48.gif') }}" alt="please wait..." />');
			$.ajax({
				type: "POST",
				url: "{{ path('dictionary_show_units') }}",
				data: { unitFrom: $("form #showUnits_unitFrom").val(),
					unitTo: $("form #showUnits_unitTo").val()
					}
			}).done(function(response) {
				$("div#definitions-container").html(response);
			});
		});
</script>
{% endblock %}