
{% for column in columns %}
<div class="column" style="width: 30%;">
    {% set i = 0 %}
    {% for word in column %}
        {% if word['polish'] != '' %}
            {% if i == 0 %} <dl> {% endif %}
            <dt><span>{{ word['german']|raw }}</span></dt>
            <dd><span>{{ word['polish'] }}</span></dd>
        {% elseif i == 0 %}
            <h3 class="first">{{ word['german']|raw }}</h3>
            <dl>
        {% else %}
            </dl>
                <h3>{{ word['german']|raw }}</h3>
            <dl>
        {% endif %}
        {% set i = i + 1 %}
    {% endfor %}
    </dl>
</div>
{% endfor %}
<div class="clear">
</div>