<dl class="test-result">
{% for checkedWord in checkTable %}
    {% if checkedWord['correct'] is not defined %}
        <dt><span class="answer-correct">{{ checkedWord['polish'] }}</span></dt>
        <dd><span class="answer-correct">{{ checkedWord['typed']|raw }}</span></dd>
    {% else %}
        <dt><span class="answer-incorrect">{{ checkedWord['polish'] }}</span></dt>
        <dd><span class="answer-incorrect">{{ checkedWord['typed'] == '' ? '-' : checkedWord['typed']|raw }}</span>
        (poprawnie: <span class="answer-correct">{{ checkedWord['correct']|raw }}</span>)</dd>
    {% endif %}
{% endfor %}
</dl>
<span class="score">Wynik: <strong><span class="answer-correct">{{ correctCount }}</span>&nbsp;/&nbsp;{{ totalCount }}</strong></span>
<div class="clear">
</div>