<div id="diacritics-picker">
    <!--<div class="diacritics-background">-->
	<span onClick="inputAppend('Ä');">Ä</span>
	&nbsp;<span onClick="inputAppend('ä');">ä</span>
	&nbsp;<span onClick="inputAppend('Ö');">Ö</span>
	&nbsp;<span onClick="inputAppend('ö');">ö</span>
	&nbsp;<span onClick="inputAppend('Ü');">Ü</span>
	&nbsp;<span onClick="inputAppend('ü');">ü</span>
	&nbsp;<span onClick="inputAppend('ß');">ß</span>
        <!--&nbsp;<span class="close-window" onClick="$('div#diacritics-picker').hide();">[x]</span>-->
    <!--</div>-->
</div>
<form class="test" action="#">
<ul>
{% for word in testWords %}
	{% set id = word.getWordId() %}
            <li>
		<label for="{{ id }}-german">{{ word.getPolish() }}</label>
                <img src="{{ asset('images/hint-button.png') }}" class="button-small" alt="podpowiedź" title="podpowiedź" onclick="showHint('{{ id }}');" />
                <img src="{{ asset('images/diacritics-button.png') }}" class="button-small show-diacritics" alt="pokaż znaki diakrytyczne" onmouseover="setId('{{ id }}-german');" />
		<br />
		{% if word.getType() == 'noun' %}
			<select id="{{ id }}-article"><option value="-">-</option><option value="r">der</option><option value="e">die</option><option value="s">das</option></select>
		{% endif %}
		<input id="{{ id }}-german" class="input-german" type="text" />
		{% if word.getType() == 'noun' %}
			&nbsp;policzalny:&nbsp;<input id="{{ id }}-countable" type="checkbox" onclick="toggleCountableOptions('{{ id }}');" />
                        <span id="{{ id }}-countable-options" style="display: none;">&nbsp;końcówka&nbsp;l.&nbsp;mn.:&nbsp;<input id="{{ id }}-plural" type="text" class="plural" />&nbsp;przegłos w l. mn.:&nbsp;<input id="{{ id }}-plural-umlaut" type="checkbox" /></span>
		{% endif %}
            </li>
{% endfor %}
            <li>
                <button id="submit" type="button" style="width: 100px; height: 2.5em;">Sprawdź</button>
            </li>
</ul>
</form>

{% block javascripts %}
<script type="text/javascript">
	var id;
	
    function setId(newId) {
        id = newId;
    }
        
    function inputAppend(content) {
		$("form input#" + id).val($("input#" + id).val() + content);
	}
        
    function toggleCountableOptions(id) {
        $("#" + id + "-countable-options").toggle();
    }
        
    function showHint(id) {
        $.ajax(
		{
			type: "POST",
			url: "{{ path('tests_show_hint') }}",
			data:
            {
                wordId: id,
                typed:  $("input#" + id + "-german").val()
            }
		}
		).done(function(response) {
            switch(response) {
                case '[[correct]]':
                    $("input#" + id + "-german").attr('class', 'input-correct');
                    break;
                case '[[incorrect]]':
                    $("input#" + id + "-german").attr('class', 'input-incorrect');
                    break;
                default:
                    $("input#" + id + "-german").removeAttr('class');
                    $("input#" + id + "-german").val(response);
            }
		});
    }
        
	$("form.test :input.input-german").focus(function() {
	    id = this.id;
        $(this).removeAttr('class');
    });
	
	$("form.test :input.input-german").keyup(function() {
		var length = $(this).val().length;
		if(length >= 2) {
			var lastTwoChars = $(this).val().substr(length - 2);
			// Ä  ä  Ö  ö  Ü  ü  ß
			switch(lastTwoChars) {
				case '=A':
					$(this).val($(this).val().substr(0, length - 2) + 'Ä');
					break;
				case '=a':
					$(this).val($(this).val().substr(0, length - 2) + 'ä');
					break;
				case '=O':
					$(this).val($(this).val().substr(0, length - 2) + 'Ö');
					break;
				case '=o':
					$(this).val($(this).val().substr(0, length - 2) + 'ö');
					break;
				case '=U':
					$(this).val($(this).val().substr(0, length - 2) + 'Ü');
					break;
				case '=u':
					$(this).val($(this).val().substr(0, length - 2) + 'ü');
					break;
				case '=s':
				case '=S':
					$(this).val($(this).val().substr(0, length - 2) + 'ß');
					break;
			}
		}
	});
        
    $(".show-diacritics").mouseenter(function() {
        $("div#diacritics-picker").show();
        $("div#diacritics-picker")
            .css('left', $(this).position().left - 1 + 'px')
            .css('top', $(this).position().top - 7 + 'px');
    });
        
    $("#diacritics-picker").mouseleave(function() {
        $(this).hide();
    });

	$("#submit").click(function() {
		var values = { };

		{% for word in testWords %}
			{% set id = word.getWordId() %}
			values['words[' + '{{ id }}' + '][german]'] = $("#" + "{{ id }}" + "-german").val();
			{% if word.getType() == 'noun' %}
				values['words[' + '{{ id }}' + '][article]'] = $("#" + "{{ id }}" + "-article").val();
                                values['words[' + '{{ id }}' + '][countable]'] = $("#" + "{{ id }}" + "-countable").is(':checked');
				values['words[' + '{{ id }}' + '][plural]'] = $("#" + "{{ id }}" + "-plural").val();
				values['words[' + '{{ id }}' + '][plural-umlaut]'] = $("#" + "{{ id }}" + "-plural-umlaut").is(':checked');
			{% endif %}
		{% endfor %}

		$("div#tests-container").html('<img src="{{ asset('images/ajax-loader-48.gif') }}" alt="please wait..." />');

		$.ajax(
			{
				type: "POST",
				url: "{{ path('tests_check_test') }}",
				data: values
			}
		).done(function(response) {
			$("div#tests-container").html(response);
		});
	});
</script>
{% endblock %}