{% extends '::base.html.twig' %}

{% block subtitle %}
Testy
{% endblock %}

{% block content %}
<form class="generator generate-test" action="#">
    <fieldset>
        <ul>
            <li>{{ form_label(form.pageFrom, 'Strony: ') }}{{ form_widget(form.pageFrom, { 'value': '8', 'attr': { 'class': 'integer-input' } }) }} - {{ form_widget(form.pageTo, { 'value': '8', 'attr': { 'class': 'integer-input' } }) }}<button id="generate-test-button" type="button">Generuj</button></li>
        </ul>
    </fieldset>
    {{ form_rest(form) }}
</form>
<div>
  <strong>Wskazówki</strong>&nbsp;[<span id="span-tips-show" class="clickable" onclick="$(this).hide(); $('#span-tips-hide').show(); $('#dl-tips').slideDown(300);">pokaż</span><span id="span-tips-hide" class="clickable" onclick="$(this).hide(); $('#span-tips-show').show(); $('#dl-tips').slideUp(300);">ukryj</span>]
  <dl id="dl-tips">
	<dt>Uzupełnianie</dt>
	<dd>Aby uzupełniać pola bez używania myszy, skorzystaj z klawisza <strong>TAB</strong> w celu przełączania pól (w przypadku, kiedy polem aktywnym jest pole wyboru opcji (<em>checkbox</em>), naciśnij przycisk <strong>SPACE</strong>, aby zmienić jego wartość). Aby cofnąć się o jedno pole, naciśnij kombinację klawiszy <strong>SHIFT&nbsp;+&nbsp;TAB</strong>.</dd>
	<dt>Przycisk <em>podpowiedź</em></dt>
	<dd>Użyj przycisku <em>podpowiedź</em>, aby zobaczyć następną literę słowa. Jeśli dotychczas wpisany fragment jest niepoprawny, wyświetli się on na <span class="red">czerwono</span>. W przypadku, kiedy zostało wpisane całe prawidłowe słowo, wyświetli się ono na <span class="green">zielono</span>.</dd>
	<dt>Niemieckie litery diakrytyczne</dt>
	<dd>Wprowadzanie niemieckich liter diakrytycznych może odbywać się na dwa sposoby:
	  <ol>
	    <li><span class="normal">Przy użyciu pola wybierania znaków, znajdującego się nad polem do wpisania słowa.</span></li>
		<li><span class="normal">Wpisując sekwencję znaków <em>=[litera]</em>, która spowoduje dodanie akcentu (o ile to możliwe) do określonej litery. Na przykład wpisanie <em>=O</em> spowoduje zamianę tej sekwencji na <em>Ö</em>. W przypadku, kiedy wpisana zostanie sekwencja <em>=s</em>, zostanie ona zamieniona na <em>ß</em>.</span></li>
	  </ol>
	</dd>
  </dl>
</div>
<div id="tests-container" style="margin-top: 20px;">
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	$("form #generate-test-button").click(function() {
		$("div#tests-container").html('<img src="{{ asset('images/ajax-loader-48.gif') }}" alt="please wait..." />');
		$.ajax(
			{
				type: "POST",
				url: "{{ path('tests_generate_test') }}",
				data:
				{
					pageFrom: $("form #TestPages_pageFrom").val(),
					pageTo: $("form #TestPages_pageTo").val()
				}
			}
		).done(function(response) {
			$("div#tests-container").html(response);
		});
	});
</script>
{% endblock %}