{% extends '::admin.html.twig' %}

{% block subtitle %}
Dodanie strony
{% endblock %}

{% block content %}
<div class="message-box">
					</div>
					<form class="admin-add" action="#">
						{{ form_label(form.unitId, 'Numer rozdziału:', { 'id': 'unit-id' }) }}{{ form_widget(form.unitId, { 'id': 'unit-id' }) }}
						<br />{{ form_label(form.pageNumber, 'Numer strony:', { 'id': 'page-number' }) }}{{ form_widget(form.pageNumber, { 'id': 'page-number' }) }}
						<br /><img id="ajax-loader" src="{{ asset('images/ajax-loader.gif') }}" alt="please wait..."/><button id="add-page-button" type="button" class="ajax-button">Dodaj</button>
					</form>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	$("form #add-page-button").click(function() {
		$("form #add-page-button").hide();
		$("form #ajax-loader").show();
		$.ajax({
			type: "POST",
			url: "{{ path('admin_add_page_post') }}",
			data: {
				unitId: $("form #unit-id").val(),
				pageNumber: $("form #page-number").val()
			}
		}).done(function(response) {
			$("div.message-box").html(response);
			$("form #ajax-loader").hide();
			$("form #add-page-button").show();
		});
	});
</script>
{% endblock %}