{% extends '::admin.html.twig' %}

{% block subtitle %}
Dodanie rozdziału
{% endblock %}

{% block content %}
<div class="message-box">
					</div>
					<form class="admin-add" action="#">
						{{ form_label(form.unitNumber, 'Numer rozdziału:', { 'id': 'unit-number' }) }}{{ form_widget(form.unitNumber, { 'id': 'unit-number' }) }}
						<br /><img id="ajax-loader" src="{{ asset('images/ajax-loader.gif') }}" alt="please wait..."/><button id="add-unit-button" type="button" class="ajax-button">Dodaj</button>
					</form>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	$("form #add-unit-button").click(function() {
		$("form #add-unit-button").hide();
		$("form #ajax-loader").show();
		$.ajax({
			type: "POST",
			url: "{{ path('admin_add_unit_post') }}",
			data: {
				unitNumber: $("form #unit-number").val()
			}
		}).done(function(response) {
			$("div.message-box").html(response);
			$("form #ajax-loader").hide();
			$("form #add-unit-button").show();
		});
	});
</script>
{% endblock %}