{% extends '::admin.html.twig' %}

{% block subtitle %}
Dodanie słówka
{% endblock %}

{% block content %}
<div class="message-box">
					</div>
					<form class="admin-add" action="#">
						{{ form_label(form.unitId, 'Rozdział:', { 'id': 'unit-id' }) }}{{ form_widget(form.unitId, { 'id': 'unit-id' }) }}
						<br /><img id="page-ajax-loader" src="{{ asset('images/ajax-loader.gif') }}" alt="please wait..." style="display: none;" /><span id="page-id-container"><label>Strona:</label><select></select></span>
						<br />{{ form_label(form.type, 'Typ:', { 'id': 'type' }) }}{{ form_widget(form.type, { 'id': 'type', 'required': null }) }}
						<br />{{ form_label(form.polish, 'Po polsku:', { 'id': 'polish' }) }}{{ form_widget(form.polish, { 'id': 'polish', 'required': null }) }}
						<br />{{ form_label(form.german, 'Po niemiecku:', { 'id': 'german' }) }}{{ form_widget(form.german, { 'id': 'german', 'required': null }) }}<div style="color: #C70; cursor: pointer; display: inline-block;"><span id="a-large-umlaut">Ä</span>&nbsp;<span id="a-umlaut">ä</span>&nbsp;<span id="o-large-umlaut">Ö</span>&nbsp;<span id="o-umlaut">ö</span>&nbsp;<span id="u-large-umlaut">Ü</span>&nbsp;<span id="u-umlaut">ü</span>&nbsp;<span id="scharfes-s">ß</span></div>
						<br />{{ form_label(form.article, 'Rodzajnik:', { 'id': 'article' }) }}{{ form_widget(form.article, { 'id': 'article', 'required': null }) }}
						<br />{{ form_label(form.plural, 'Końcówka liczby mnogiej:', { 'id': 'plural' }) }}{{ form_widget(form.plural, { 'id': 'plural', 'required': null }) }}
						<br /><img id="ajax-loader" src="{{ asset('images/ajax-loader.gif') }}" alt="please wait..." /><button id="add-word-button" type="button" class="ajax-button">Dodaj</button>
					</form>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	$("form #type").change(function() {
		if ($("form #type").val() != "noun")
		{
			$("form #article").attr("disabled", "disabled");
			$("form #plural").attr("disabled", "disabled");
		}
		else
		{
			$("form #article").removeAttr("disabled");
			$("form #plural").removeAttr("disabled");
		}
	});
	
	$("form #add-word-button").click(function() {
		$("form #add-word-button").hide();
		$("form #ajax-loader").show();
		$.ajax({
			type: "POST",
			url: "{{ path('admin_add_word_post') }}",
			data: {
				pageId: $("form #page-id").val(),
				type: $("form #type").val(),
				polish: $("form #polish").val(),
				german: $("form #german").val(),
				article: $("form #article").val(),
				plural: $("form #plural").val()
			}
		}).done(function(response) {
			$("div.message-box").html(response);
			$("form #ajax-loader").hide();
			$("form #add-word-button").show();
		});
	});

	$("form #unit-id").change(updatePages);
	$(document).ready(updatePages);

	$("form #a-large-umlaut").click(function() {
		$("form #german").val($("form #german").val() + 'Ä');
	});
	$("form #a-umlaut").click(function() {
		$("form #german").val($("form #german").val() + 'ä');
	});
	$("form #o-large-umlaut").click(function() {
		$("form #german").val($("form #german").val() + 'Ö');
	});
	$("form #o-umlaut").click(function() {
		$("form #german").val($("form #german").val() + 'ö');
	});
	$("form #u-large-umlaut").click(function() {
		$("form #german").val($("form #german").val() + 'Ü');
	});
	$("form #u-umlaut").click(function() {
		$("form #german").val($("form #german").val() + 'ü');
	});
	$("form #scharfes-s").click(function() {
		$("form #german").val($("form #german").val() + 'ß');
	});

	function updatePages()
	{
		$("form #page-id-container").hide();
		$("form #page-ajax-loader").show();
		$.ajax({
			type: "POST",
			url: "{{ path('admin_add_word_unitpost') }}",
			data: {
				unitId: $("form #unit-id").val()
			}
		}).done(function(response) {
			$("form #page-ajax-loader").hide();
			$("form #page-id-container").show();
			$("form #page-id-container").html(response);
		});
	}
</script>
{% endblock %}